@tailwind base;
@tailwind components;
@tailwind utilities;

body.first {
  --background-color: #f8f4e5;
  --color: #000;
  --border-color: #000;
  --hover-bg: #d21414;
  --hover-color: #fff;
}

body.second {
  --background-color: #d21414;
  --color: #fff;
  --border-color: #fff;
  --hover-bg: #fab7a2;
  --hover-color: #000;
}

body.third {
  --background-color: #fab7a2;
  --color: #000;
  --border-color: #000;
  --hover-bg: #f8f4e5;
  --hover-color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .leftCircle {
    border-color: var(--border-color);
  }

  .rightCircle {
    border-color: var(--border-color);
    background-color: var(--background-color);
  }

  .rightCircle:hover {
    background-color: var(--hover-bg);
    border: none;
    color: var(--hover-color);
  }
  
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
